*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;

  --primary-t-blue: rgb(23, 43, 77);
  --primary-t-green: rgb(10, 99, 62);
  --secondary-t-green: rgb(58, 74, 66);
  --secondary-b-light: rgb(235, 240, 238);
  --secondary-b-dark: rgb(208, 217, 212);
  --active-btn: rgb(0, 133, 82);
}

body {
  background-color: rgb(249, 249, 249);
}

#overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  padding: 0 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 10;
}

.logo-container {
  padding: 0.6rem 0.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
}

a {
  text-decoration: none;
}

.logo-container a {
  display: block;
  text-decoration: none;
  color: rgb(40, 53, 47);
  font-size: 1.4rem;
  text-align: center;
  font-weight: 600;
}

nav {
  width: fit-content;
  display: block;
  flex-direction: column-reverse;
  gap: 1rem;
}

nav > ul {
  display: none;
  flex-direction: column;
  gap: 1.5rem;
  font-size: 2rem;
  font-weight: 600;
}

.nav-menu {
  color: var(--secondary-t-green);
}

#hamburger {
  padding: 0.65rem;
  background-color: transparent;
  border: none;
}

#close-mobile-menu {
  margin-top: 1rem;
  display: none;
  width: 2rem;
  align-self: flex-end;
  background-color: transparent;
  border: none;
}

.headline {
  margin-top: 3rem;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3.25rem;
  background: url(https://raw.githubusercontent.com/mwismann/mwismann.github.io/a5668d2e5a89784262bf1747248c72134396cb1c/icon-img/header-illsutration-mobile.svg) no-repeat;
  background-size: 100% 100%;
}

.heading {
  margin: 0 auto;
  padding-top: 25%;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  text-align: center;
}

h1 {
  font-size: 2.25rem;
  color: var(--primary-t-blue);
}

h2 {
  margin-top: -1.5rem;
  font-size: 2.25rem;
  color: var(--primary-t-green);
}

p {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
  color: var(--primary-t-blue);
}

.headline > ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.25rem;
}

li {
  list-style: none;
}

.action-btn-sec {
  margin: 0 auto;
  padding: 0.4rem 0.5rem;
  background-color: transparent;
  border: 1px solid rgb(223, 225, 230);
  border-radius: 2rem;
}

.media-link img,
.action-btn-sec img {
  width: 1.25rem;
}

.media-link img,
.action-btn-sec {
  transition: 0.3s ease-in-out;
}

.action-btn-sec:hover {
  cursor: pointer;
  box-shadow: 0 8px 16px 0 rgba(30, 72, 143, 0.239);
}

.media-link img:hover,
.action-btn-sec:hover {
  transform: scale(1.2);
}

/* Works Section */
#works-section {
  margin: 0 auto;
  padding: 4rem 1rem;
  text-align: center;
}

#works-section h2 {
  margin-top: 0;
  color: var(--primary-t-blue);
  text-align: center;
}

.works-grid-container {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 1fr;
  row-gap: 1rem;
  align-content: center;
}

.works-grid-card {
  padding-top: 14rem;
  width: 100%;
  background-color: var(--secondary-b-light);
  border: 1px solid var(--secondary-b-dark);
  border-radius: 0.5rem;
}

.works-card-meta {
  width: 100%;
  padding: 1rem 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  text-align: center;
  background-color: white;
  border-radius: 0.5rem;
}

.works-card-meta > h3 {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 2rem;
  color: var(--secondary-t-green);
}

.work-categories {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 0.45rem;
}

.work-categories > li {
  padding: 0.5rem 0.5rem;
  font-size: 0.66rem;
  font-weight: 600;
  letter-spacing: 0.03em;
  color: var(--secondary-t-green);
  background-color: var(--secondary-b-light);
  border-radius: 0.25rem;
}

.action-btn {
  display: block;
  width: fit-content;
  margin: 0.5rem auto;
  padding: 0.8rem;
  font-size: 0.88rem;
  letter-spacing: 0.03em;
  color: white;
  text-decoration: none;
  background-color: var(--primary-t-green);
  border-radius: 0.25rem;
  transition: 0.3s ease-in-out;
}

.action-btn:hover {
  cursor: pointer;
  color: var(--primary-t-green);
  background-color: var(--secondary-b-light);
  box-shadow: 0 8px 16px rgba(54, 179, 127, 0.24);
}

.action-btn:active {
  color: white;
  background-color: var(--active-btn);
}

/* About Me Section */
#about-section {
  margin: 0 auto;
  padding: 1rem;
  text-align: center;
}

#about-section h2 {
  margin-top: 0;
  color: var(--primary-t-blue);
}

#about-section p {
  color: var(--primary-t-blue);
}

.about-bg-img-container {
  position: relative;
}

.about-bg-img-1 {
  position: absolute;
  left: -1rem;
  top: 13rem;
}

.about-bg-img-2 {
  position: absolute;
  right: -1rem;
  top: -4rem;
}

.about-bg-img-cont-desktop {
  display: none;
}

.about-grid-container {
  padding-top: 4rem;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 1fr;
  row-gap: 1rem;
  align-content: center;
}

.about-grid-card {
  padding: 2.5rem 1rem 4rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: var(--secondary-b-light);
  border: 1px solid var(--secondary-b-dark);
  border-radius: 0.5rem;
}

.about-img-container {
  margin-bottom: 3.5rem;
  padding: 0.8rem 1rem;
  background: white;
  border-radius: 100%;
  box-shadow: 0 8px 16px 0 rgba(30, 72, 143, 0.239);
}

.about-grid-card > h3 {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 2rem;
  color: var(--primary-t-blue);
}

.about-categories {
  margin-top: 1.5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.about-categories > li {
  padding: 0.5rem 0.5rem;
  font-size: 0.75rem;
  font-weight: 600;
  letter-spacing: 0.03em;
  color: var(--primary-t-green);
  background-color: white;
  border-radius: 0.25rem;
}

/* Contact Section */
#contact-section {
  position: relative;
  margin: 0 auto;
  padding: 2.5rem 1rem 0.5rem;
  text-align: center;
}

#contact-section h2 {
  margin: 0 auto;
  width: 90%;
  color: var(--primary-t-blue);
}

#contact-form {
  width: 100%;
  padding: 3.5rem 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

input,
#client-msg {
  padding: 0.75rem;
  color: --secondary-b-dark;
  border: 1px solid var(--secondary-b-dark);
  border-radius: 0.25rem;
}

#client-msg {
  border-color: var(--primary-t-green);
}

#contact-form button {
  border: none;
}

#contact-section ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.25rem;
}

#contact-section span {
  display: block;
  margin-top: 0.8rem;
  color: rgb(66, 82, 110);
}

#contact-bg {
  position: absolute;
  right: 0;
  bottom: 19rem;
}

#contact-line-break {
  margin: 15rem auto 0;
}

.contact-bg-desk-container {
  display: none;
}

/* Footer */
footer {
  display: none;
}

/* DESKTOP VERSION */

@media screen and (min-width: 768px) {
  header {
    position: absolute;
    background-color: transparent;
    justify-content: center;
  }

  .logo-container {
    display: none;
  }

  #hamburger {
    display: none;
  }

  nav > ul {
    height: 6rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1.25rem;
    font-size: 1rem;
  }

  .nav-menu {
    display: block;
    padding: 0.5rem 1rem;
    font-weight: 600;
    animation: navBtn 3s ease-in-out;
    transition: 0.3s ease;
  }

  .nav-menu:hover {
    letter-spacing: 0.5rem;
  }

  .headline {
    margin-top: 0;
    width: 100%;
    height: 100vh;
    background: url(https://raw.githubusercontent.com/mwismann/mwismann.github.io/1a534050fc8cc448cc0a3fbed06de21b8758c193/icon-img/desktop/header-illustration-desktop.svg) no-repeat;
    background-size: 100%;
    justify-content: flex-start;
    gap: 2.5rem;
  }

  .heading {
    padding-top: 17%;
  }

  h1 {
    font-size: 3rem;
  }

  .heading > h2 {
    margin-top: -2rem;
    font-size: 3rem;
  }

  p {
    font-size: 1.4rem;
    line-height: 2.5rem;
    width: 60%;
    margin: 0 auto;
  }

  .media-link img,
  .action-btn img {
    width: 1.5rem;
  }

  .action-btn-sec {
    margin-top: 8rem;
    padding: 0.6rem 0.75rem;
  }

  .container {
    padding: 0 5rem;
  }

  /* Works Section */
  #works-section h2 {
    font-size: 2.5rem;
  }

  #works-section img {
    display: none;
  }

  .works-grid-container {
    grid-template-columns: repeat(3, 25%);
    justify-content: center;
    row-gap: 2rem;
    column-gap: 1.5rem;
  }

  .works-grid-card {
    padding-top: 20rem;
  }

  .works-card-meta > h3 {
    margin: 0 auto;
    width: 70%;
    font-size: 2rem;
    line-height: 2.5rem;
  }

  .work-categories {
    gap: 0.6rem;
  }

  .work-categories > li {
    padding: 0.5rem 0.75rem;
    font-size: 0.8rem;
  }

  .action-btn {
    margin-top: 1rem;
    padding: 1rem;
    font-size: 1.25rem;
  }

  /* About Section */
  #about-section {
    margin-top: 6rem;
  }

  #about-section h2 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
  }

  .about-bg-img-container {
    display: none;
  }

  .about-bg-img-cont-desktop {
    display: block;
    position: relative;
  }

  #about-desk-img-1 {
    position: absolute;
    top: 6rem;
    left: -6rem;
  }

  #about-desk-img-2 {
    position: absolute;
    top: -6rem;
    right: -6rem;
  }

  .about-grid-container {
    grid-template-columns: repeat(3, 25%);
    justify-content: center;
    column-gap: 1.5rem;
  }

  .about-grid-card {
    padding: 3rem 1rem 2rem;
    width: 100%;
    flex-wrap: wrap;
    justify-content: start;
  }

  .about-img-container {
    margin-bottom: 4.5rem;
    padding: 1rem 1.25rem;
  }

  .about-grid-card > h3 {
    font-size: 2rem;
  }

  .about-categories {
    gap: 0.6rem;
  }

  .about-categories > li {
    padding: 0.75rem 1rem;
    font-size: 0.8rem;
    border-radius: 8px;
  }

  /* Contact Section */
  #contact-section {
    position: static;
    margin: 4rem 0 17rem;
  }

  .alt-container {
    max-width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: flex-start;
    gap: 1.5rem;
  }

  #contact-section h2 {
    width: 35%;
    margin: 2.5rem 0;
    font-size: 1.8rem;
    line-height: 2.5rem;
  }

  .contact-bg-desk-container {
    display: block;
    position: relative;
  }

  #contact-bg-desk-1 {
    position: absolute;
    left: -4rem;
    bottom: -14rem;
  }

  #contact-bg-desk-2 {
    position: absolute;
    left: 24rem;
    top: 4rem;
  }

  #contact-bg-desk-3 {
    position: absolute;
    right: -1rem;
    top: -14rem;
  }

  #contact-form {
    max-width: 64%;
    padding: 0;
  }

  #submit-btn {
    margin: 0.5rem 0;
  }

  #contact-bg,
  #contact-section ul,
  #contact-section span,
  #contact-line-break {
    display: none;
  }

  /* Footer */
  footer {
    display: block;
    padding: 1rem 0;
    border-top: 1px solid var(--secondary-b-light);
  }

  #footer-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.25rem;
  }

  .footer-img {
    width: 1.25rem;
  }
}

@keyframes navBtn {
  0% {
    transform: translateY(-200%);
  }

  35% {
    transform: translateY(120%);
  }

  70% {
    transform: translateY(-30%);
  }

  100% {
    transform: translateY(0%);
  }
}
